@import url('https://fonts.googleapis.com/css2?family=Mozilla+Headline:wght@200..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";

@theme {
    --color-primary: #7fb7be;
    --color-secondary: #bc2c1a;

    --font-primary:"Mozilla Headline","sans-serif";
    --font-secondary:"Roboto","sans-serif";
}